<form method="POST" name="sign_up">
	<p>Username</p>
	<input type ="text" name="user[username]">
	<p>Password</p> 
	<input type= "password" name="user[password]"> 
	<p>Email</p>
	<input type= "text" name="user[email]" >
	<input type= "submit" value="Sign up!">
</form>