<h1>Sign in with the form below !</h1>
<form method="POST" name="sign_in">
	<p>Input your username here</p>
	<input type="text" name="username">
	<p>Input your password here</p>
	<input type="text" name="password"><br/>
	<input type="submit" value = "log in">
</form>